@import "fonts";
@import "libs/bootstrap-reboot.min";

@import "variables/colors";

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: $color-black;
}

.container {
  position: relative;
  max-width: 1588px;
  margin: 0 auto;
}

@import "components/Header";
@import "components/Menu";
@import "components/MainBlock";
@import "components/Title";
@import "components/Content";
@import "components/Quiz";
@import "components/buttons/Button";
@import "components/buttons/ButtonSocial";
@import "components/CallToAction";
@import "components/RentHall";
@import "components/Tabs";
@import "components/Card";
@import "components/Footer";
@import "components/Popup";
@import "components/inputs/InputRadio";
@import "components/inputs/InputText";
