$color-black: #18191b;
$color-black-2: #63636f;
$color-black-3: #424343;
$color-black-4: #27282a;
$color-black-dark: #000;

$color-gold: #c6af66;

$color-light-gray: #f7f7f8;
$color-gray: #acada5;
$color-gray-2: #e9eaec;

$color-white: #fff;
