.Header {
  border: 1px solid $color-light-gray;
  background: rgba($color-white, 0.85);
  box-shadow: 0px 4px 4px 0px rgba($color-black-dark, 0.05);
  backdrop-filter: blur(16px);
  padding: 16px 16px 18px 16px;

  border-radius: 0;

  &__logo {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
  }

  &__top {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__burger {
    cursor: pointer;

    &_hidden {
      display: none;
    }
  }

  &__contacts {
    display: none;
    justify-content: right;
    align-items: center;
    gap: 48px;
  }

  &__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__addressText {
    color: $color-black-3;
    font-size: 20px;
    font-family: Lato;
    line-height: 24px;
  }

  &__social {
    display: flex;
    gap: 8px;
  }

  &__socialLink {
    cursor: pointer;
    text-decoration: none;
  }
  &__button {
    border: 0;
    width: 48px;
    height: 48px;
    background-color: $color-gold;
    border-radius: 6px;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
  }

  &__phoneLink {
    font-size: 20px;
    font-family: Lato;
    line-height: 24px;
    color: $color-black-3;
    &:hover {
      text-decoration: underline;
      color: $color-black-3;
    }
  }

  &__callBack {
    color: $color-gold;
    font-size: 15px;
    font-family: Roboto;
    line-height: 20px;
    text-decoration-line: underline;
    cursor: pointer;
  }
}

@media (min-width: 700px) {
  .Header {
    padding: 0 15px;
    border-radius: 0px 0px 16px 16px;

    &__contacts {
      display: flex;
    }

    &__btnCall,
    &__burger {
      display: none;
    }
  }
}

@media (min-width: 1588px) {
  .Header {
    padding: 0;
  }
}
