.MainBlock {
  margin-top: 24px;
  padding: 24px 16px;

  &__subtitleTop {
    font-size: 14px;
    font-family: Lato;
    line-height: 20px;
  }

  &__subtitleInner {
    display: none;
  }

  &__wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__quiz {
    margin: 0 auto;
    display: none;

    &_open {
      display: block;
    }
  }

  &__callToAction {
    margin: 0 auto;

    &_hidden {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .MainBlock {
    padding: 0;

    &__wrapper {
      margin-top: 26px;
    }

    &__subtitleTop {
      display: none;
    }

    &__quiz,
    &__subtitleInner {
      display: block;
    }
  }
}
