.Popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  height: 100%;
  z-index: 5;
  width: 100%;

  background: rgba($color-black, 0.89);

  &_active {
    display: block;
  }

  &__card {
    max-width: 842px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: $color-white;
    opacity: 1;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__description {
    width: 100%;
  }

  &__title {
    color: $color-gold;
    font-size: 32px;
    font-family: P052;
    line-height: 32px;
  }

  &__subtitle {
    margin-top: 8px;
    font-size: 16px;
    font-family: Lato;
    line-height: 28px;
    color: $color-gray;
  }

  &__policy,
  &__link {
    color: $color-gray;
    font-size: 12px;
    font-family: Roboto;
    line-height: 15px;
  }

  &__pol &__link {
    text-decoration: underline;

    &:hover {
      color: $color-gray;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__formItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__label {
    color: $color-gray;
    font-size: 12px;
    font-family: Roboto;
    line-height: 15px;
  }
}

@media (min-width: 700px) {
  .Popup {
    &__card {
      top: 50%;
      transform: translateY(-50%);
    }

    &__wrapper {
      flex-direction: row;
    }

    &__description,
    &__form {
      width: 50%;
    }
  }
}
