.Quiz {
  padding: 32px 0;

  &_padding {
    padding: 0 32px;
  }

  &__counterTitle {
    color: $color-black-3;
    font-size: 16px;
    font-family: Lato;
    line-height: 28px;
  }

  &__Progress {
    margin-top: 8px;
    width: 100%;
    height: 4px;
    background: $color-white;
    display: flex;
  }

  &__ProgressItem {
    width: 100%;

    &_fill {
      background: $color-gold;
    }
  }

  &__question {
    margin-top: 32px;

    &_hidden {
      display: none;
    }
  }

  &__questionTitle {
    color: $color-black-3;
    font-size: 24px;
    font-family: Lato;
    line-height: 32px;
  }

  &__answers {
    margin-top: 24px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__answersItem {
    cursor: pointer;
    border-radius: 4px;
    background: $color-white;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 16px;

    &_active {
      border: 1px solid $color-gold;
    }
  }

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &__label {
    color: $color-black-2;
    font-size: 16px;
    font-family: Lato;
    line-height: 28px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: $color-white;
    margin-top: 40px;
  }

  &__buttons {
    margin-top: 31px;
  }

  &__button {
    &_hidden {
      display: none !important;
    }
  }
}
