.RentHall {
  margin-top: 32px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__plan {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 11px;
  }

  &__description {
    padding: 56px;
  }

  &__table {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 160px 1fr;
  }

  &__td {
    padding: 8px;
    font-size: 16px;
    font-family: Lato;
    line-height: 28px;
    border-bottom: 2px solid $color-gray-2;

    &_definition {
      color: $color-gray-3;
    }
  }

  &__buttons {
    margin-top: 48px;
    display: flex;
    gap: 16px;
  }
}
