.RentHall {
  margin-top: 24px;

  &__Title {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__img {
    width: 118px;
  }

  &__plan {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 11px;

    &_hidden{
      display: none;
    }
  }

  &__tabs {
    margin-top: 32px;
  }

  &__description {
    padding: 56px;
  }

  &__table {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  &__td {
    padding: 8px;
    font-size: 14px;
    font-family: Lato;
    line-height: 20px;
    border-bottom: 2px solid $color-gray-2;

    &_definition {
      color: $color-gray;
    }
  }

  &__buttons {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (min-width: 800px) {
  .RentHall {
    margin-top: 32px;

    &__Title {
      text-align: left;
    }

    &__wrapper {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &__table {
      grid-template-columns: 160px 1fr;
    }

    &__img {
      width: 180px;
    }

    &__buttons {
      flex-direction: row;
    }

    &__td {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

@media (min-width: 1250px) {
  .RentHall {
    &__img {
      width: auto;
    }
  }
}
