.Title {
  &__main {
    color: $color-black;
    font-size: 40px;
    font-family: P052;
    font-weight: 700;
    line-height: 48px;
  }

  &__subtitle {
    font-size: 32px;
    font-family: P052;
    line-height: 32px;
  }
}
